#resume {
    background-color: #ffffff;  /* Set background to white */
    padding: 20px 0;
    text-align: right important!; 
    max-width: 1500px; /* Align everything to the left */
}

#resume h2 {
    
    font-size: 30px;
    color: #171a19;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
   
    
   
}

.resume-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    text-align: left;  /* Align content to the left */
}

.download-button {
    padding: 2px 25px;
    font-size: 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    margin-bottom: 80px;
    float: right;
}

.download-button:hover {
    background-color: black;
  transform: translateY(-3px);
}

.download-button span {
    font-size: 22px;
    margin-left: 8px;
}

.experience .job {
    margin-bottom: 30px;
}

.job-details {
    display: block;  /* Stack title and location vertically */
    text-align: left;
    margin-bottom: 8px;
}

.job-details h4 {
    font-size: 24px;
    font-weight: 600;
    color: #171a19;
    margin-bottom: 4px;  /* Ensure spacing between title and location */
}

.job-location {
    font-size: 16px;
    color: #666;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.education, .skills, .projects {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;  /* Explicitly align all sections to the left */
}

.education h3, .skills h3, .projects h3 {
    font-size: 28px;
    color: #171a19;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
}

.education ul, .skills ul, .projects ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;  /* Smaller padding to align lists */
    text-align: left;
}

.education li, .skills li, .projects li {
    font-size: 18px;
    margin-bottom: 12px;
    color: #555;
    line-height: 1.8;
}



